<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Embedded Style Sheet</title>
<style type="text/css">
    body {background-color: blue;}
	h1   {color: blue;}
	p1  {color: red;
  		font-family: courier;}
  	p2	{font-family: verdana;}
</style>
</head>

 </body style="background-color:powderblue;">
 </html>